.contactSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%; 
  padding: 20px; 
  margin-top: 130px;
}
.contactSection button {
  border-radius: 17px;
  margin-bottom: 130px;
  margin-top: 23px;
  color:black;
  background-color: #f0f0f0;
}

.contactSection button:hover {
  background-color: #D4FEF1;
  transition-duration: 0.3s;
}

#dark .cs_hero_title {
  color:#D4DEF1;

}

#dark .cs_hero_subtitle {
  color:#D4DEF1;
}

.container {
  padding-bottom: auto;

}
.cs_hero_info_wrap {
  margin-top: -300px;
}

.modelContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%; 
  padding: 10px; 
  margin-top: 70px;
  margin-bottom: -150px;
}

.cs_hero_img {
  width: 600px;
  height: 600px;
  margin-bottom: 400px;

}

@media (max-width: 768px) {
  .cs_hero_info_wrap {
    margin-top: 100px;
  }
}
